@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --background-color: #242333;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.movie-container {
  margin: 20px;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

}

.container {
  perspective: 900px;
  margin-bottom: 10px;
}

.seat {
  background-color: #444451;
  height: 16px;
  width: 17px;
  margin: 5px;
  border-radius: 50% 50% 10% 10%;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2), .seat:nth-last-of-type(3) {
  margin-right: 15px;
}

.room .seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase {
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display:flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
}

.showcase li small {
  margin-left: 3px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 60px;
  width: 100%;
  margin: 15px 0 25px;
  transform: rotateX(-45deg);
  box-shadow: 0 2px 8px 2px rgba(255, 255, 255, 0.7)
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}